[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restplus = "*"
psycopg2 = "*"
yoyo-migrations = "*"
uwsgi = "*"
pytest = "*"
pytest-flask = "*"
pylint = "*"
requests = "==1.0.3"
flask = "==1.0.3"

[requires]
python_version = "3.7"
