[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restplus = "*"
yoyo-migrations = "*"
pytest = "*"
pytest-flask = "*"
pylint = "*"
requests = "==2.20.0"
flask = "==1.0.3"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
