<div>
  <h2 class="text-muted">Games
  </h2>
  <div class="row">
    <div class="card">
      <div class="card-body">
        {{game.name}}
        <button type="button"
                class="btn btn-lg"
                [ngClass]="(rate>=1)?'btn-warning':'btn-secondary'"
                (click)="rate_game(1)"
                aria-label="Left Align">
        </button>
        <button type="button"
                class="btn btn-lg"
                [ngClass]="(rate>=2)?'btn-warning':'btn-secondary'"
                (click)="rate_game(2)"
                aria-label="Left Align">
        </button>
        <button type="button"
                class="btn btn-lg"
                [ngClass]="(rate>=3)?'btn-warning':'btn-secondary'"
                (click)="rate_game(3)"
                aria-label="Left Align">
        </button>
        <button type="button"
                class="btn btn-lg"
                [ngClass]="(rate>=4)?'btn-warning':'btn-secondary'"
                (click)="rate_game(4)"
                aria-label="Left Align">
        </button>
        <button type="button"
                class="btn btn-lg"
                [ngClass]="(rate>=5)?'btn-warning':'btn-secondary'"
                (click)="rate_game(5)"
                aria-label="Left Align">
        </button><br>
        <button type="button" class="btn btn-lg btn-success" *ngIf="game['count']==0" (click)="add_to_library()">ADD</button>
        <button type="button" class="btn btn-lg btn-danger" *ngIf="game['count']>0" (click)="remove_from_library()">DELETE</button>
      </div>
    </div>
  </div>
</div>
