{% load static %}
{% load i18n %}
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <title>Select Game</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'selectgame:index' %}">SelectGame</a>
        </div>
        <div id="navbar container" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'selectgame:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'selectgame:all_game_rating' %}">{% trans "All ratings" %}</a></li>
            <li><a href="{% url 'social:profiles' %}">{% trans "All profiles" %}</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'selectgame:logout' %}">{% trans "Sign out" %}</a></li>
        <li><a href="{% url 'selectgame:add_game' %}">{% trans "Add game" %}</a></li>
        <li><a href="{% url 'social:edit_profile' %}">{% trans "Edit profile" %}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Events"%}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">{% trans "My events"%}</a>
                <a class="dropdown-item" href="#">{% trans "Create event"%}</a>
                <a class="dropdown-item" href="#">{% trans "Find event"%}</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li><a href="{% url 'selectgame:create_event' %}">{% trans "Create event" %}</a></li>
			{% else %}
				<li><a href="{% url 'selectgame:login' %}">{% trans "Sign in" %}</a></li>
			{% endif %}
      {% if user.is_superuser%}
			<li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
      {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</br>
    <div class="container theme-showcase" role="main">

        {% block content %}{% endblock %}



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
{# Read the documentation for more information #}
