{% load static %} {% load i18n %}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'global-css/material_colors.css'%}">
  <title>Select Game</title>
  {% block extra_head %}{% endblock %}
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        -->
        <a class="btn btn-primary" href="{% url 'social:notifications' %}">
          {% trans "Notifications" %} <span class="badge badge-light">{{number_of_notification}}</span>
        </a>
        <a class="navbar-brand" href="{% url 'selectgame:index' %}">SelectGame</a>
      </div>
      <div id="navbar container" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="nav-link" href="{% url 'selectgame:index' %}">{% trans "Home" %}</a></li>
          <li><a class="nav-link" href="{% url 'selectgame:all_game_rating' %}">{% trans "All ratings" %}</a></li>
          <li><a class="nav-link" href="{% url 'selectgame:all_events' %}">{% trans "All events" %}</a></li>
          <li><a class="nav-link" href="{% url 'social:profiles' %}">{% trans "All profiles" %}</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'selectgame:game_library' %}">{% trans "My game library" %}</a></li>
          <li><a class="nav-link" href="{% url 'selectgame:logout' %}">{% trans "Sign out" %}</a></li>
          <li><a class="nav-link" href="{% url 'selectgame:add_game' %}">{% trans "Add game" %}</a></li>
          <li><a class="nav-link" href="{% url 'social:view_messages' %}">{% trans "Messages" %}</a></li>
          <li><a class="nav-link" href="{% url 'selectgame:locations' %}">{% trans "Locations" %}</a></li>
          <li><a class="nav-link" href="{% url 'social:edit_profile' %}">{% trans "Edit profile" %}</a></li>
          <li><a class="nav-link" href="{% url 'social:friends' %}">{% trans "Friends" %}</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Events"%}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">{% trans "My events"%}</a><br>
              <a class="dropdown-item" href="#">{% trans "Create event"%}</a><br>
              <a class="dropdown-item" href="#">{% trans "Find event"%}</a><br>

            </div>
          </li>
          <li><a class="nav-link" href="{% url 'selectgame:create_event' %}">{% trans "Create event" %}</a></li>
          {% else %}
          <li><a class="nav-link" href="{% url 'selectgame:login' %}">{% trans "Sign in" %}</a></li>
          {% endif %} {% if user.is_superuser%}
          <li><a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  </br>
  <div class="container theme-showcase" role="main">

    {% block content %}{% endblock %}



  </div>
  <!-- /container -->


  <!-- Bootstrap core JavaScript-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% block extra_scripts %} {% endblock %}
</body>
{# Read the documentation for more information #}
