.material-icons.orange600 { color: #FB8C00; }
.material-icons.event_status_will_come { color: #56FC3C;}
.material-icons.event_status_maybe { color: #D88334;}
.material-icons.event_status_not_coming { color: #DB0808;}
.material-icons.event_status_pending { color: #db08a2;}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
