.material-icons.orange600 { color: #FB8C00; }
.material-icons.event_status_will_come { color: #56FC3C;}
.material-icons.event_status_maybe { color: #D88334;}
.material-icons.event_status_not_coming { color: #DB0808;}
.material-icons.event_status_pending { color: #db08a2;}
