{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<form action="{% url 'selectgame:add_game'%}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
</div>
