{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if message_length > 0%}
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
{%endif%}
<table class="table table-striped">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Number of users" %}</th>
		<th>{% trans "Rating" %}</th>
	</tr>
  {% for rating in ratings %}
		<tr>
			<td>{{rating.0}}</td>
      <td>{{rating.2}}</td>
      <td>{{rating.1}}</td>
		</tr>
  {% endfor %}
</table>
{% endblock %}
</div>
