{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if message_length > 0%}
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
{%endif%}
<div class="my-3 my-md-5">
	<div class="container">
		<div class="table-responsive">
			<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Number of users" %}</th>
		<th>{% trans "Rating" %}</th>
	</tr>
  {% for rating in ratings %}
		<tr>
			<td><a href="{%url 'selectgame:view_game' game_id=rating.game.id%}">{{rating.game}}</a></td>
      <td>
				<div class="progress">
  				<div class="progress-bar bg-success" role="progressbar" style="width: {{rating.width.0}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1/{{rating.votes.0}}/{{rating.width.0}}%</div>
				</div>
				<div class="progress">
  				<div class="progress-bar bg-success" role="progressbar" style="width: {{rating.width.1}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2/{{rating.votes.1}}/{{rating.width.1}}%</div>
				</div>
				<div class="progress">
  				<div class="progress-bar bg-success" role="progressbar" style="width: {{rating.width.2}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">3/{{rating.votes.2}}/{{rating.width.2}}%</div>
				</div>
				<div class="progress">
  				<div class="progress-bar bg-success" role="progressbar" style="width: {{rating.width.3}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4/{{rating.votes.3}}/{{rating.width.3}}%</div>
				</div>
				<div class="progress">
  				<div class="progress-bar bg-success" role="progressbar" style="width: {{rating.width.4}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">5/{{rating.votes.4}}/{{rating.width.4}}%</div>
				</div>
			</td>
      <td>{{rating.mean_rating|floatformat:"1"}}</td>
		</tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}
