{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
{% wysiwyg_setup  %}
{% endblock %}
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<div class="my-3 my-md-5">
	<div class="container">
<h1>{%trans "Create event"%}</h1>
<form action="{% url 'selectgame:create_event'%}" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="event_name">{% trans "Name of the event" %}</label>
    <input type="text" class="form-control" id="event_name" name="event_name">
  </div>
  <div class="form-group">
    <label for="location">{% trans "Location" %}</label>
    <select class="form-control" id="location" name="location_id">
      {% for location in locations %}
        <option value="{{location.id}}">{{location.address}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" name="is_public" id="is_public">
  <label class="form-check-label" for="is_public">
    {% trans "The event is public" %}
  </label>
</div>
  <div class="form-group">
    <label for="event_date">{% trans "Event date" %}</label>
    <input type="date" id="event_date" name="event_date">
  </div>
  <div class="form-group">
    <label for="description">{% trans "Description" %}</label>
    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
    {% wysiwyg_editor "description" %}
  </div>
  <!-- TODO add max and min number of players -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>
{% endblock %}
