{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
  <div class="row">
    <!-- Events -->
    <div class="col">
      Events
    </div>
    <!-- Friends -->
    <div class="col">
      Friends
    </div>
    <div class="w-100"></div>
    <!-- Game Library -->
    <div class="col">
      Game Library
    </div>
    <!-- Messages -->
    <div class="col">
      Messages
    </div>
  </div>


{% endblock %}
</div>
