{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
  <div class="row">
    <!-- Events -->
    <div class="col">
      <h1>{% trans "Events" %}</h1>
    </div>
    <!-- Friends -->
    <div class="col">
      <h1>{% trans "Friends" %}</h1>
      {% for friend in profile.friend_list.all %}
        <a href="{% url 'Social:user_profile' user_id=friend.id %}">{{friend.get_username}}</a><br>
      {% endfor %}
    </div>
    <div class="w-100"></div>
    <!-- Game Library -->
    <div class="col">
      <h1>{% trans "Game Library" %}</h1>
      {% for game in game_library.games.all %}
        {{game.name}}<br>
      {% endfor %}
    </div>
    <!-- Messages -->
    <div class="col">
      <h1>{% trans "Messages" %}</h1>
    </div>
  </div>


{% endblock %}
</div>
