{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<div class="my-3 my-md-5">
	<div class="container">
    <h1>{% trans "Locations" %}</h1>
<form action="{% url 'selectgame:locations'%}" method="post">{% csrf_token %}
  {% trans "New location" %}
  <input type="text" name="location">
  <br><br>
  <input type="submit" value="{% trans 'Add location' %}">
</form>
{% for location in locations %}
<div class="well">
  {{location.address}}
</div>
{% endfor %}
</div>
</div>
{% endblock %}
