{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
<h1>{% trans "Locations" %}</h1>
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<form action="{% url 'selectgame:locations'%}" method="post">{% csrf_token %}
  {% for location in locations %}
  <div class="form-group">
    <input type="text" class="form-control" id="event_name" name="{{location.id}}" value="{{location.address}}" size="10">
  </div>
  {% endfor %}
  <br><br>
  <input type="submit">
</form>

{% endblock %}
</div>
