{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<h1>{% trans "My game Library" %}</h1>
{% for game in game_library.games.all %}
  {{ game.name }}<br>
{% endfor %}
{% endblock %}
</div>
