{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<div class="my-3 my-md-5">
	<div class="container">
<h1>{% trans "My game Library" %}</h1>
{% for game in game_library.games.all %}
  <a href="{%url 'selectgame:view_game' game_id=game.id%}">{{game.name}}</a><br>
{% endfor %}

</div>
</div>
{% endblock %}
