{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<div class="my-3 my-md-5">
	<div class="container">
<div class="well">
  <h1>{{game.name}}</h1>
    <form action="{% url 'selectgame:game_library' game_id=game.id%}" method="post">
      {% csrf_token %}
      <button name="add_game" type="submit" class="btn btn-success" aria-label="Left Align">
  		    {% trans "Add to my library" %}
  		</button>
    </form>
  <div class="rating-block">
    <h4>{% trans "Average user rating" %}</h4>
    <form action="{% url 'selectgame:view_game' game_id=game.id%}" method="post">
      {% csrf_token %}
    <h2 class="bold padding-bottom-7">{{rating.mean_rating|floatformat:"1"}} <small>/ 5</small></h2>
    <button value=1 name="1-star" type="submit" class="material-icons {{stars.0}}" aria-label="Left Align">
      <i class="fe fe-sun"></i>
    </button>

		<button value=1 name="2-star" type="submit" class="{{stars.1}}" aria-label="Left Align">
		    <i class="fe fe-sun"></i>
		</button>
		<button value=1 name="3-star" type="submit" class="{{stars.2}}" aria-label="Left Align">
		    <i class="fe fe-sun"></i>
		</button>
		<button value=1 name="4-star" type="submit" class="{{stars.3}}" aria-label="Left Align">
		    <i class="fe fe-sun"></i>
		</button>
		<button value=1 name="5-star" type="submit" class="{{stars.4}}" aria-label="Left Align">
		    <i class="fe fe-sun"></i>
		 </button>

   </form>
		</div>


  {{game.comment|safe}}
  <li>{%trans "Players"%}: {{game.minimum_number_of_players}} - {{game.maximum_number_of_players}}</li>
  {% for category in game.category.all%}
    <li>{{category.name}}</li>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
