{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}

<div class="well">
  <h1>{{game.name}}</h1>
  {{game.comment|safe}}
  <li>{%trans "Players"%}: {{game.minimum_number_of_players}} - {{game.maximum_number_of_players}}</li>
  {% for category in game.category.all%}
    <li>{{category.name}}</li>
  {% endfor %}
</div>

{% endblock %}
</div>
