{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
{% wysiwyg_setup  %}
{% endblock %}

{% block content %}
<div class="my-3 my-md-5">
	<div class="container">
<form action="{% url 'social:edit_profile'%}" method="post">
    {% csrf_token %}
    <textarea id="biography" name="biography">{{profile.biography|safe}}</textarea>
    {% wysiwyg_editor "biography" %}
    <input type="submit">
</form>
</div>
</div>
{% endblock %}
