{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
  <form action="{% url 'Social:find_friends' %}" method="post">{% csrf_token %}
    <table class="table table-striped">
      {% for user in users %}
      <tr>
        <td>
          <a href="{% url 'social:user_profile' user_id=user.id %}">{{user.get_username}}</a>
        </td>
        <td>
          <button value=1 name="make_friends_{{user.id}}" type="submit" class="btn btn-success">{% trans "Make friend" %}</button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </form>
{% endblock %}
</div>
