{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if message_length > 0%}
	<div class="alert alert-danger" role="alert">
		{{message}}
	</div>
{%endif%}
<div class="my-3 my-md-5">
	<div class="container">
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a href="#friends" class="nav-link active" aria-controls="friends" role="tab" data-toggle="tab">{% trans "Friends" %}</a></li>
    <li class="nav-item"><a href="#pending" class="nav-link" aria-controls="pending" role="tab" data-toggle="tab">{% trans "Pending" %}</a></li>
    <li class="nav-item"><a href="#waiting_approval" class="nav-link" aria-controls="waiting_approval" role="tab" data-toggle="tab">{% trans "Waiting approval" %}</a></li>
    <li class="nav-item"><a href="#rejected" class="nav-link" aria-controls="rejected" role="tab" data-toggle="tab">{% trans "Rejected"%}</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane active" id="friends">
			{% for friend in friends %}
				{{friend.get_username}}<br>
			{% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="pending">
			{% for friend in sent %}
				{{friend.receiver.get_username}}
			{% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="waiting_approval">
			<form action="{% url 'social:friends'%}" method="post">{% csrf_token %}
			{% for friend in received %}
				{{friend.sender.get_username}}
				<input type="submit" class="btn btn-success" name="Accept_{{friend.id}}" value="{% trans 'Accept'%}">
				<input type="submit" class="btn btn-danger" name="Reject_{{friend.id}}" value="{% trans 'Reject'%}">
			{% endfor %}
			</form>
		</div>
    <div role="tabpanel" class="tab-pane" id="rejected">
			{% for friend in rejected %}
				{{friend.receiver.get_username}}
			{% endfor %}
		</div>
  </div>

</div>
</div>
</div>
{% endblock %}
