{% load i18n %}
{% load static %}
{% load wysiwyg %}
{% block extra_head %}
{% wysiwyg_setup  %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="invite_friends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Friends" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form enctype="multipart/form-data" action="{% url 'social:view_event' event_id=event.id%}" method="post">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <select multiple class="form-control" id="friends" name="friends"  required>
            {% for friend in friends %}
              <option value="{{friend.id}}">{{friend.get_username}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <input name="invite_friends" type="submit" class="btn btn-primary" value="{% trans 'Invite selected friends' %}"></button>
      </div>
    </form>
    </div>
  </div>
</div>
