{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wysiwyg %}

{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
{% wysiwyg_setup  %}
{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}<div>
    {% endfor %}
  </ul>
{% endif %}
<div class="col-sm-3 col-md-3">
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                </span>{% trans "Partcipants" %}</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    {% for participant in event.participants.all %}
                      <tr>
                          <td>
                              <span class="{{participant.glyphicon}}"></span><a href="{% url 'Social:user_profile' user_id=participant.user.id %}">{{participant.user.get_username}}</a>
                          </td>
                      </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="well">
      <h1>{% trans "Messages" %}</h1>
      <form action="{% url 'social:view_event' event_id=event.id%}" method="post">
          {% csrf_token %}
          <textarea id="message" name="message">{{h|safe}}</textarea>
          {% wysiwyg_editor "message" %}
          <input type="submit" value="{% trans 'Send message' %}">
      </form>

    </div>
</div>
</div>
<div class="col-sm-9 col-md-9">
    <div class="well">
        <h1>{{event.name}}</h1>
        <form action="{% url 'social:view_event' event_id=event.id%}" method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" name="WC" value="{% trans 'Will come' %}">
            <input class="btn btn-secondary" type="submit" name="MA" value="{% trans 'Maybe' %}">
            <input class="btn btn-danger" type="submit" name="NC" value="{% trans 'Not coming' %}">
        </form>
        {% trans "Location" %}: {{event.location.address}}<br>
        {% trans "Owner" %}: {{event.owner.get_username}}<br>
        {% trans "Maximum number of players" %}: {{event.maximum_number_of_players}}<br>
        {% trans "Minimum number of players" %}: {{event.minimum_number_of_players}}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invite_friends">
      {% trans "Invite friends" %}
    </button>
    </div>
    <div class="well">
      Games
      {% for average in games %}
      {% if not average.too_low %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{average.game}}</h3>
          <form action="{% url 'social:view_event' event_id=event.id%}" method="post">
              {% csrf_token %}
              <input class="btn btn-success" type="submit" name="vote_{{average.id}}" value="{% trans 'Will come' %}">
          </form>
        </div>
        <div class="panel-body">
          {{average.number_of_votes}}<br>
          {{average.average}}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="well">
      {% for message in event.messages.all%}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{message.writer}} {{message.created_date|date:"Y-m-d H:i"}}</h3>
        </div>
        <div class="panel-body">
          {{message.text|safe}}
        </div>
      </div>
      {% endfor %}
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="invite_friends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Friends" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form enctype="multipart/form-data" action="{% url 'social:view_event' event_id=event.id%}" method="post">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <select multiple class="form-control" id="friends" name="friends"  required>
            {% for friend in friends %}
              <option value="{{friend.id}}">{{friend.get_username}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <input name="invite_friends" type="submit" class="btn btn-primary" value="{% trans 'Invite selected friends' %}"></button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
</div>
