{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wysiwyg %}

{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
{% wysiwyg_setup  %}
{% endblock %}
<div class="row">
{% block content %}
{% if messages %}
  <ul class="alert alert-dangers">
    {% for message in messages %}
      <div class="{{ message.tags }}" role="alert" >
				<button class="close" data-dismiss="alert">&times;</button>
				{{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
<div class="row">
<div class="col-4">
  {% include "Social/view_event_sidepanel.html" %}
</div>
<div class="col-8">
  <div class="card">
    <div class="card-header"><h1>{{event.name}}</h1></div>
    <div class="card-body">
      <form action="{% url 'social:view_event' event_id=event.id%}" method="post">
        {% csrf_token %}
        <input class="btn btn-success" type="submit" name="WC" value="{% trans 'Will come' %}">
        <input class="btn btn-secondary" type="submit" name="MA" value="{% trans 'Maybe' %}">
        <input class="btn btn-danger" type="submit" name="NC" value="{% trans 'Not coming' %}">
      </form>
      {% trans "Location" %}: {{event.location.address}}<br>
      {% trans "Owner" %}: {{event.creator.get_username}}<br>
      {% trans "Maximum number of players" %}: {{event.maximum_number_of_players}}<br>
      {% trans "Minimum number of players" %}: {{event.minimum_number_of_players}}<br>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invite_friends">
        {% trans "Invite friends" %}
      </button>
    </div>
  </div>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading_games">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#games" aria-expanded="true" aria-controls="games">
            {% trans "Games" %}
          </button>
        </h5>
      </div>

      <div id="games" class="collapse" aria-labelledby="games" data-parent="#accordion">
        <div class="card-body">
          {% include "Social/view_event_games.html" %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading_messages">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#messages" aria-expanded="true" aria-controls="messages">
            {% trans "Messages" %}
          </button>
        </h5>
      </div>

      <div id="messages" class="collapse" aria-labelledby="messages" data-parent="#accordion">
        <div class="card-body">
          {% include "Social/view_event_messages.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% include "Social/view_event_invite_friends.html" %}
{% endblock %}
</div>
